div {
    form {
        margin: auto;
        background-color: lightpink;
        padding: 25px;
    }
}

#print {
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    height: 500px;
    padding: 10px;
    border-style: solid;
    border-color: rosybrown;
    overflow: scroll;
}